body{
  
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
    cursor: pointer;
    
    
}
li{
    list-style: none;
    padding-block: 10px;
}


.layer {
    position: absolute;
    top: 0;
    bottom: 0;
   transform: translateY(100%);
    transition: all 0.5s;
    background-color: #f9f6f6ca;
    
   
}

.box:hover .layer {
    transform: translateY(0);
}

.sidebar{
    height: 100%;
    position: fixed;
    z-index: 100;
    transform: translateX(-75%);
    transition: 0.4s;
}


 
 .sidebar.active{
    transform: translateX(0);
 }

 .sidebar li{
    transform: translateY(100px);
    opacity: 0;
    transition :all 0.6s ease; 
    cursor: pointer;
 }
 #search input::placeholder{
    color: #f9f6f646;
 }
